<h1>Manage Photo Shoot Details</h1>
<p>Name: <%= @shoot.name %></p>
<p>Address: <%= @shoot.address %></p>
<p>City: <%= @shoot.city %></p>
<p>State: <%= @shoot.state %></p>
<p>Zip: <%= @shoot.zip %></p>
<p>Phone: <%= @shoot.phone %></p>
<p>Email: <%= @shoot.email %></p>
<p>Date: <%= @shoot.date %></p>
<p>Time: <%= @shoot.time %></p>
<p>Description: <%= @shoot.description %></p>
<ul>
<% @shoot_equipment.each do |equipment| %>
  <li><%= equipment.model %> <%= link_to "Remove Equipment", controller: "shoots", action: "remove_equipment", id: @shoot, equipment: equipment %></li>
<% end %>
</ul>

<%= form_tag("/shoots/#{@shoot.id}/add_equipment", :method => "post") do %>
  <%= select_tag "equipment", options_from_collection_for_select(@equipments, "id", "model") %>
  <%= submit_tag "Add Equipment" %>
<% end %>

	<%= link_to "Delete Shoot", @shoot, :method => :delete %><br />

	<%= link_to "Back to Main Page", root_path %><br />

	<%= link_to "Back to Shoots Page", shoots_path %>

	<%#= button_to "delete", @shoot, :method => :delete %>