<h1>Edit Equipment Detail</h1>
<div class="btn-group">
  <%= link_to "Edit Equipment", {:action => 'edit'}, :class => "btn btn-inverse" %>
  <%= link_to "Delete Equipment", @equipment, :method => :delete, :class => "btn btn-inverse" %>
  <%= link_to "Back to Equipment Manager", {:controller => "equipments", :action => "index"}, :class => "btn btn-inverse" %>
</div>
<%= form_for @equipment do |f| %>
	<%= f.label :make %>
  <%= f.text_field :make %>
  	<%= f.label :model %>
  <%= f.text_field :model %>
  <%= f.label :serial %>
  <%= f.text_field :serial %>
  <%= f.label :purchase_date %>
  <%= f.text_field :purchase_date %>
  	<%= f.label :equipment_category %>
  <%= f.select :equipment_category, [['Camera','Camera'], ['Lens','Lens'],['Lighting','Lighting'], ['Support','Support'], ['Accessory','Accessory']] %> <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
 



	<%= f.submit "Edit Equipment", url: equipment_path, :method => :put %>
	<%= link_to("<button>Back to Equipment</button>".html_safe, {:controller => "equipments", :action => "index" }) %>
	<% end %>
