<h1>Add Camera Gear</h1>
<%= form_for @equipment do |f| %>
	<%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :serial %>
  <%= f.text_field :serial %>
 



	<%= f.submit "Add Gear" %>
<% end %>