<h1>Photo Assistant</h1>
<%= link_to "Add equipment", new_equipment_path %> <br />
<%= link_to "Show equipment", equipments_path %> <br />

<%#= link_to "Add a Photo Shoot", new_photo_shoot_path %> <br />
<%= link_to "Add a Photo Shoot", new_shoot_path %> <br />
<%= link_to "Show Shoots", shoots_path %> <br />



<%= image_tag("gear_image.jpg", :alt => "rss feed") %>


  
