<!DOCTYPE html>
<html>
<head>
  <title>RailsPhotoAssistant</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
   <p class="notice"><%= notice %></p>
   <%- flash.each do |type, message| %>
  <!--  <div class ="flash">
   	<% type.upcase %>: <%= message %>
   </div> -->
   <% end %>
   <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
